.card-header {
    display: flex;
    justify-content: center;
    background-color: #9ad9b7;
    border: none;
}

.card-body {
    background-color: #fff7eb;
}

.round {
    border-radius: 10rem;
    max-width: 10rem;
    height: 10rem;
    margin: 0 auto;
    object-fit: cover;
}

.icon {
    max-width: 3rem;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: #402c0d
}

.p-label {
    font-weight: 600;
    color: #402c0d;
}

p span {
    float: right;
    border: 1px solid #edd7ca;
    background: #edd7ca;
    padding: 3px;
    border-radius: 5px;
    font-weight: 400;
    color: #402c0d;
}

p .description {
    font-weight: 400px;
    color: #402c0d;
}

hr {
    border: 1px solid #edd7ca;
    margin-top: 10px;
}